.jumbotron{
  background-image: url(gambar/sekolah.jpg);
  background-size: cover;
  background-position: center center;
  padding: 300px;
}

.logo img {
  height: 30px;
  padding-right: 30px;
}

.jurusan{
  background-color: #608BC1;
}
